<h1>Superhero Name: </h1>
<h2> <%= @superhero.name %> </h2>
<br>
<h1>Superhero Super Name: </h1>
<h2> <%= @superhero.super_name %> </h2>
<br>
<h1>Superpower: </h1>
<h2> <%= link_to @superhero.superpower.name, @superhero.superpower %> </h2>
