<h1>Welcome to the Superhero Domain</h1>
<h3>Your one stop shop for all superheroes and powers</h3>
<%= link_to "List of Heroes", superheroes_path %> <br>
<%= link_to "List of Powers", superpowers_path %> <br>
<%= link_to "Create A Hero", new_superhero_path %>
